certifi==2022.12.7
chardet==3.0.4
click==8.0.1
Flask==1.0.2
gevent==21.1.2
greenlet==1.1.0
gunicorn==19.8.1
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.1.1
pyasn1==0.4.3
requests==2.19.1
urllib3==1.23
Werkzeug==0.14.1
zope.event==4.5.0
zope.interface==5.4.0
